{% extends "layout.html" %}

{% block title %}
Welcome to Dance Hub
{% endblock %}

{% block content %}

<h2>Forum</h2>
<ul>
    {% for message in messages %}
    <li>
        <strong>{{ message.user.username }}</strong>: {{ message.content }}
        <small>{{ message.sent_at }}</small>

        <form action="{% url 'delete_chat' %}?id={{ message.id }}" method="get" style="display:inline;">
            {% csrf_token %}
            <button type="submit"
                {% if not request.user.is_staff %}disabled{% endif %}>
            Delete
            </button>
        </form>

    </li>
    {% endfor %}
</ul>
<a href="{% url 'new_chat' %}">Add a new message</a>
{% endblock %}
