{% extends "layout.html" %}

{% block title %}
Suspicious Chat Home
{% endblock %}

{% block content %}
<h2>Suspicious Chat Home</h2>

{% if request.user.is_authenticated %}
<p>You're logged in as {{ request.user.username }}.</p>
<a href="{% url 'logout' %}">Log out</a>
{% else %}
<p>Use one of the following credentials to log in:</p>
<ul>
    <li>username: <code>admin</code>, password: <code>admin</code></li>
    <li>username: <code>pasi</code>, password: <code>pasi</code></li>
</ul>

<form action="/" method="POST">
    {% csrf_token %}
    <p>Username:<br><input type="text" name="username"></p>
    <p>Password:<br><input type="password" name="password"></p>
    <button type="submit">Login</button>
</form>
{% endif %}

{% endblock %}
