<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="/static/main.css">
</head>
<body>

<div class="container">
<img src="../static/dancers.png" alt="Dancers">
<h1>Welcome to Dance Hub</h1>
<img src="../static/dancers.png" alt="Dancers">
</div>

<div class="banner">
<p>Explore our website:</p>
<a href="/">Home</a>
<a href="/dance_schools">Dance Schools</a>
<a href="/forum">Forum</a>
</div>

{% block content %}
{% endblock %}

</body>
</html>